body{
margin: 0;
padding: 0;
font-family: 'Inika';
font-weight: 700;

}

.header{
    color: #3E45E8;
    font-family: 'M PLUS 1';
    font-size: 48px;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: .1em;
    text-align: center;
    box-sizing: border-box;
    margin: 30px 0;
}

.header-span{
    color: yellow
}
.banner{
    height: 803px;
    background-image: url(../images/image\ 1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    box-sizing: border-box;
    padding-left: 5%;
    padding-top: 15%;
}
.content{
    box-sizing: border-box;
    background-image: url(../images/flag.jpg);
    background-repeat: no-repeat;
    padding-left: 38px;
    width: 55%;
    height: 60%;
    color: white;
    font-size: 48px;
}

.main{
    box-sizing: border-box;
    padding-left: 110px;
}

.h1{
    color: black;
    font-size: 40px;
    font-style: normal;
    box-sizing: border-box;
    padding: 50px 0px 20px;

}
.line{
    box-sizing: border-box;
    width: 402px;
    border-top: 5px solid #3E45E8;
}

.main-card{
    /*height: 481px;*/
    border: 1px solid black;
    border-radius: 70px;
    overflow: hidden;
    width: 30%;
    display: inline-block;
    box-sizing: border-box;
    margin-top: 40px;
    box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);
}

.card-img{
    width: 100%;
}

.title{
    color: #1E8DF2;
    font-size: 24px;
    font-style: normal;
    line-height: 157%;
    padding: 4% 4%;
    /*box-sizing: border-box;*/
}
.subtitle{
    color: #E8C23E;
    font-weight: 400;
    padding: 4% 4%;
}
.midl{
    margin: 0 60px;
}

.second{
    margin: 0 auto;
}
.ukraine{
text-align: center;
padding-top: 40px;
margin: 0 auto;
}
.ukraine__img-conteiner{
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.button{
    width: 35%;
    background-color: #2A61F0;
    color: #FFF;
    font-size: 64px;
    line-height: 157%;
    font-style: normal;
    margin: 0 auto;
}
.footer{
    /*height: 320px;*/
    margin-top: 20px;
    background-color: #2F4A4B;
    text-align: center;
}
.footer-h1{
    font-style: normal;
    font-size: 48px;
    font-family: 'M PLUS 1';
    color: #3E45E8;
    font-weight: 400;
    letter-spacing: 5px;
}
.em-phone{
    font-family: 'Marcellus SC';
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
}
a{
    color: #A89D9D;
    text-decoration: none;
    letter-spacing: 0.1em;
    line-height: 45px;
}
.links{
    margin: 20px 0;
}
.mail-conteiner{
    margin: 20px 0;
}